
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fefeff;
  line-height: 1.6;
  font-size: 16px;
}

svg {
  display: block;
  margin: auto;
}

.node rect {
  fill: #e1e1e1;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.node text {
  fill: #000000;
  font-size: 18px;
}

.node image {
  clip-path: circle(25px);
}

.three-dots {
  cursor: pointer;
  font-size: 25px;
  transition: transform 0.2s ease, color 0.2s ease;
}


.three-dots:hover {
  transform: scale(1.2); 
  color: #007bff;
}
