*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app-header {
  display: flex;
  justify-content: space-between;
 
  border-bottom: 1px solid gray;
  width: 100%;
}

.header-left {
  display: flex;
  align-items: center;
}

.add-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: gold;
  border: none;
  cursor: pointer;
}

.search-bar {
  padding: 5px;
  border-radius: 5px;
}

.toggle-section {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.link {
  stroke-width: 2px;
  stroke: black;
}

.node circle {
  fill: lightblue;
}

.node text {
  font-size: 14px;
}
